body{
	background-color:#003300; /* dark green */
	background-image:url('../images/skellymonsteraPNG.png');
	background-size:1370px;
	background-position:-100px 0;
	color:#fff;
	
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-family:Garamond;
	font-size:16px;
	font-weight:normal;
	margin:0;
	
}

header{
	background-color:#66cc66; /* light green */
	color:#003300;
	position:fixed;
	width:100%;
	top:0;
	
	text-align:center;
	text-decoration:bold;
	padding:0;
}

header h1{
	padding:0;
	margin:5px;
}

footer{
	background-color:#66cc66;
	color:#003300;
	text-align:center;
	padding:10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	margin-top:20px;
}

a{
	color:#fff;
	text-decoration:none;
}

a:hover{
	color:#cc0066; /* darker pink */
	/*color:#ff9933;*/ /* darker orange */
}


.clr{
	clear:both;
	padding:0;
	margin:0;
	border:0;
}

/*======================= Upper margin and contact button =======================*/

.uppermargin{
	width:100%;
	position: fixed;
	top:45px;
}

.buttonblock{
	background-color:#cc6699;
	float:left;
	width:20.0%;
	text-align:center;
	box-sizing:border-box;
	font-family: Arial, Helvetica, sans-serif;
}

.buttonblock h5{
	margin:5px;
	padding:0;
}

.contactbutton{
	position: fixed;
	top:300px;
	left:20px;
	background-color:#cc6699;
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
	padding:3px;
	font-size:14px;
	border-radius:10px;
}

.contactbutton:hover{
	background-color:#cc0066;
	color:#fff;
}

/*============================= Welcome page =============================*/

#welcomeblock{
	background-color:#66cc66;
	color:#003300;
	width:60%;
	margin:auto;
	padding:20px;
	border-radius:25px;
	padding-bottom:350px;
	margin-top:100px;
}

#welcomeimage{
	float:left;
	width:33.33%;
	box-sizing:border-box;
}

#headlink{
	color:#003300;
	text-decoration:none;
	text-decoration:bold;
	
}

/*============================= Print page =============================*/

.imagepage{
	background-color:#ffffcc;
	width:80%;
	height:80%;
	margin:auto;
	margin-top:100px;
}

.imageblock{
	float:left;
	width:33.3%;
	text-align:center;
	font-size:13px;
	padding:20px;
	margin:0;
	border:0;
	box-sizing:border-box;
	
	background-color:#ffffcc;
}

.imageblock a{
	color:#ffcc33;
}

.imageblock a:hover{
	color:#ff0066; /* dark pink */
	/*color:#ff9999;*/ /* light pink */
	/*color:#cc3300;*/ /* dark red */ 
}

/*============================= About us page =============================*/

#aboutusblock{
	background-color:#ffffcc;
	color:#ffcc33;
	width:60%;
	margin:auto;
	padding:20px;
	border-radius:25px;
	padding-bottom:200px;
	margin-bottom:10px;
	margin-top:100px;

}

#aboutusblock #lastp{
	padding-bottom:100px;
}

/*============================== Contact form ==============================*/


.formblock .formpart{
	padding-bottom:10px;
}

.formblock label{
	display:block;
}

.formblock input[type="text"], .formblock input[type="email"]{
	padding:8px;
	width:95%;
}

.formblock textarea{
	padding:8px;
	padding-bottom:100px;
	width:95%;
}

.formblock input[type="submit"]{
	background-color:#ff9999;
	color:#fff;
	padding:10px 15px;
	border:none;
	float:left;
	position: relative;
    left: 45%;
}


.formblock input[type="submit"]:hover{
	background-color:#ff0066;
}

/*========================== Specific print page  ==========================*/

.specimagepage{
	float:left;
	width:50%;
	box-sizing:border-box;
	padding:20px;
	margin:auto;
	margin-top:100px;
	
	background-color:#ffffcc;
	color:#ffcc33;
}

.specimagepagetext{
	float:left;
	width:50%;
	box-sizing:border-box;
	padding:20px;
	margin:auto;
	margin-top:100px;
	
	padding-bottom:501.5px;
	
	background-color:#ffffcc;
	color:#ffcc33;
}








